name: Job Intelligence Bot

on:
  workflow_dispatch:
  schedule:
    - cron: "30 3,12 * * *"   # Runs at 9 AM & 6:30 PM IST

jobs:
  run-bot:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python main.py

      - name: Commit updated database
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add jobs.db
          git commit -m "Update jobs database" || echo "No changes to commit"
          git push
